<div>
  <a class="btn btn-default" href="/jrfStudent" role="button">JRF</a>
  <a class="btn btn-default" href="/faculty" role="button">Faculty</a>
  <a class="btn btn-default" href="/paper" role="button">Papers</a>
  <a class="btn btn-default" href="/book" role="button">Books</a>
 </div>
