<script src="../../public/js/editJrf.js"></script>
<form>
  <div class="form-group">
    <label for="name">Full Name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <label for="admnNo">Admission Number</label>
    <input name="admnNo" type="text" class="form-control" id="admnNo" placeholder="admnNo" required>
  </div>
  <div class="form-group">
  <label for="status">Status</label>
    <select name="status" class="form-control" id="status">
      <option value="Ongoing">Ongoing</option>
      <option value="Terminated">Terminated</option>
      <option value="Completed">Completed</option>
    </select>
  </div>
  <div class="form-group">
  <label for="type">Type</label>
    <select name="type" class="form-control" id="type">
      <option value="JRF">JRF</option>
      <option value="SRF">SRF</option>
    </select>
  </div>
  <div class="form-group">
  <label for="duration">Duration</label>
    <select name="duration" class="form-control" id="duration">
      <option value="Full-Time">Full-Time</option>
      <option value="Part-Time">Part-Time</option>
    </select>
  </div>
  <div class="form-group">
  <label for="thesisStatus">Thesis Status</label>
    <select name="thesisStatus" class="form-control" id="thesisStatus">
      <option value="Notification">Notification</option>
      <option value="Thesis Submission">Thesis Submission</option>
      <option value="Pre-Submission">Pre-Submission</option>
    </select>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="email@email.com">
  </div>
  <div class="form-group">
    <label for="mobile">Mobile no.</label>
    <input name="mobile" type="number" class="form-control" id="mobile" placeholder="856095689565">
  </div>
  <div class="form-group">
    <label for="bioId">Biometric ID</label>
    <input name="bioId" type="number" class="form-control" id="bioId" placeholder="123">
  </div>
  <!--<div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input name="dateOfBirth" type="date" class="form-control" id="dateOfBirth">
  </div>-->
  <div class="form-group">
    <label for="education">Education</label>
    <input name="education" type="text" class="form-control" id="education" placeholder="education">
  </div>
  <!--<div class="form-group">
    <label for="dateOfJoin">Date of Joining</label>
    <input name="dateOfJoin" type="date" class="form-control" id="dateOfJoin">
  </div>-->
  <div class="checkbox">
    <label>
      <input name="phdAwarded" type="checkbox"> Phd Awarded
    </label>
  </div>
  <div class="form-group">
  <label for="entrance" required>Entrance</label>
    <select name="entrance" class="form-control" id="entrance">
      <option value="GATE">GATE</option>
      <option value="ISM Entrance">ISM ENtrance</option>
      <option value="NET">NET</option>
      <option value="UGC Project">UGC Project</option>
      <option value="Direct">Direct</option>
      <option value="Under ISRO Project">Under ISRO Project</option>
      <option value="UGC Net JRF">UGC Net JRF</option>
    </select>
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <input name="comment" type="textarea" class="form-control" id="comment" placeholder="comments" required>
  </div>
</form>
<button onclick="editor()" class="btn btn-default">Save</button>
